{# templates/components/nav.html #}
{# Navbar global (páginas públicas) #}

<nav class="nav">
	<div class="nav__inner">
		{# Brand / logo: siempre regresa a la Home #}
		<a class="nav__brand" href="{% url 'home:home' %}">INNES</a>

		{# Links principales (públicos) #}
		<ul class="nav__links">
			<div>{{ request.path }}</div>
			{# Inicio #}
			<li>
				<a
					href="{% url 'home:home' %}"
					class="{% if request.path == '/' %}is-active{% endif %}"
				>
					Inicio
				</a>
			</li>

			{# Trials #}
			<li>
				<a
					href="/trials/"
					class="{% if request.path|slice:':8' == '/trials/' %}is-active{% endif %}"
				>
					Pruebas
				</a>
			</li>

			{# Reports #}
			<li>
				<a
					href="/reports/"
					class="{% if request.path|slice:':9' == '/reports/' %}is-active{% endif %}"
				>
					Reportes
				</a>
			</li>

			{# Equipment #}
			<li>
				<a
					href="/equipment/"
					class="{% if request.path|slice:':11' == '/equipment/' %}is-active{% endif %}"
				>
					Equipos
				</a>
			</li>
		</ul>
	</div>
</nav>